
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          User num of following followers
        </div>
        <div class="card-body">
          <profile pic %>
        </div>
      </div>
    </div>
    <div class="col-6">

      <div class="card">
        <div class="card-header">
          Tweet Post
        </div>
        <div class="card-body">
          <render following post %>

        </div>
      </div>
    </div>
    <div class="col">

      <div class="card">
        <div class="card-header">
          Following
        </div>
        <div class="card-body">
          < render post %>
          < render tags %>
        </div>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </div>
</div>
