<center>
<div class="jumbotron index-jum" width="100%">
  <div class="container"
    <h1 class="display-3"><img src="/assets/twitlogo.png" width="300"></h1>
    <p class="lead"><a class="btn btn-primary btn-lg btn-outline-info" href="#" role="button"> Sign In / Sign Up</a></p>
  </div>
</div>
</center>
<div class="container">
  <div class="row">
    <div class="col">
      sign in

    </div>
    <div class="col">
      sign up

    </div>
  </div>
</div>
