
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-3">Welcome to Twit</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<h1>User </h1>
<p>Main pages - Index</p>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
